In [ ]:
Iterable
Iterator
Iteration

In [ ]:
for
while

In [1]:
l =["red", "orange", "white", "black", "blue"]

In [2]:
l

['red', 'orange', 'white', 'black', 'blue']

In [3]:
for color in l:
    print(color)

red
orange
white
black
blue

In [4]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [5]:
n = 5

for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10):
    print(i, i+1, (i+1)**2)

0 1 1
1 2 4
2 3 9
3 4 16
4 5 25
5 6 36
6 7 49
7 8 64
8 9 81
9 10 100

In [10]:
for i in range(10):
    print((i+1)**3)

1
8
27
64
125
216
343
512
729
1000

In [12]:
for i in range(1,20,2):
    print(i**2)

1
9
25
49
81
121
169
225
289
361

In [13]:
str = "Information-Technology"

In [14]:
for i in str:
    print(i)

I
n
f
o
r
m
a
t
i
o
n
-
T
e
c
h
n
o
l
o
g
y

In [15]:
for i in str:
    print(i, end = " ")

I n f o r m a t i o n - T e c h n o l o g y

In [16]:
for i in str:
    if i == "o":
        print(i)

o
o
o
o

In [17]:
for i in str:
    if i == "o" or i=="a":
        print(i)

o
a
o
o
o

In [18]:
for i in str:
    if i == "o" and i=="a":
        print(i)

In [20]:
for i in range(20):
    if i%2 != 0:
        print(i**2)

1
9
25
49
81
121
169
225
289
361

In [21]:
tup = ("India", "Australia", "USA", "Russia", "France")

In [22]:
for i in tup:
    print(i)

India
Australia
USA
Russia
France

In [28]:
for i in tup:
    for j in i:
        if j == "s" or j =="S":
            print(i)

Australia
USA
Russia
Russia

In [31]:
set = {"mango", "apple","pienaaple", "banana", "orange", "mango"}

In [32]:
for i in set:
    print(i)

banana
apple
mango
pienaaple
orange

In [33]:
enumerate

enumerate

In [34]:
for i, j in enumerate(set):
    print(i,j)

0 banana
1 apple
2 mango
3 pienaaple
4 orange

In [36]:
for i, j in enumerate(set):
    print(i+1,"-", j)

1 - banana
2 - apple
3 - mango
4 - pienaaple
5 - orange

In [37]:
for i, j in enumerate(set):
    print(f"index {i+1} : {j}")

index 1 : banana
index 2 : apple
index 3 : mango
index 4 : pienaaple
index 5 : orange

In [40]:
for i in range(5):             # 0 ,1 ,2, 3, 4
    for j in range(5):         # 0, 1, 2, 3, 4
        print(j+1, end= " ")
    print(i)

1 2 3 4 5 0
1 2 3 4 5 1
1 2 3 4 5 2
1 2 3 4 5 3
1 2 3 4 5 4

In [42]:
for i in range(5):             # 0 ,1 ,2, 3, 4
    for j in range(5):         # 0, 1, 2, 3, 4
        print(j+1, end= " ")
    for k in range(5):
        print(k+2)
    print(i)

1 2 3 4 5 2
3
4
5
6
0
1 2 3 4 5 2
3
4
5
6
1
1 2 3 4 5 2
3
4
5
6
2
1 2 3 4 5 2
3
4
5
6
3
1 2 3 4 5 2
3
4
5
6
4

In [45]:
for i in set:
    for j in i:
        if j == "a":
            print(i)
        if j ==

banana
banana
banana
apple
mango
pienaaple
pienaaple
orange