### Special Character

In [1]:
# \n new line
print("Hello\nWorld")

Hello
World

In [2]:
# \t tab space
print("Name:\tAlice")

Name:	Alice

In [ ]:
# \\ (Backslash)
path = "C:\\Users\\John\\Documents"
print(path)

In [ ]:
# \\ (Backslash)
path = "C:/Users/John/Documents"
print(path)

In [3]:
lang = "Python"

In [4]:
print(lang)

Python

In [5]:
lang = ""Python""

SyntaxError: invalid syntax (3658472551.py, line 1)

In [7]:
lang = '"Python"'

In [8]:
print(lang)

"Python"

In [11]:
# \r (Carriage Return)

print("Hello \r World \rpython")

python

#### String Formating:-
	
Old-Style String Formatting (% Formatting)
Old-style formatting uses the % operator to insert values into a string template. It's less recommended for new code due to its limitations compared to str.format() and f-strings.

In [15]:
name = "Alice"
lastname = "david"
age = 30

formatted_string = "My name is %s %s and I am %d years old." % (lastname, name, age)

In [13]:
formatted_string

'My name is david Alice and I am 30 years old.'

In [ ]:
#Formatting Options:
# %s for strings
# %d for integers
# %.f for floating-point numbers

In [19]:
number = 3.14159
formatted_number = "The value of pi is approximately %.2f" % number

print(formatted_number)

The value of pi is approximately 3.14

In [22]:
name = "Bob"
age = 25

formatted_string = "My name is {} and I am {} years {} old.".format(age, name, "py")

print(formatted_string)

My name is 25 and I am Bob years py old.

In [26]:
name = "Bob"
age = 25

formatted_string = "My name is {} and I am {} years old.".format(name, age)

print(formatted_string)

My name is Bob and I am 25 years old.

In [27]:
print("My name is", name,  "and I am", age , "years old.")

My name is Bob and I am 25 years old.

In [28]:
#Positional arguments:

formatted_string = "First: {1}, Second: {0}".format("A", "B")
formatted_string

'First: B, Second: A'

In [29]:
#Keyword arguments:

formatted_string = "Name: {name}, Age: {age}".format(name="Alice", age=30)
formatted_string

'Name: Alice, Age: 30'

In [30]:
# f-string

name = "Alice"
age = 30
occupation = "engineer"

# Using f-string to format the output

sentence = f"My name is {name}, I am {age} years old, and I work as an {occupation}."
print(sentence)

My name is Alice, I am 30 years old, and I work as an engineer.

In [31]:
sentence = f"My name is {name} I am {age} years old and I work as an {occupation}."
print(sentence)

My name is Alice I am 30 years old and I work as an engineer.

In [32]:
a,b,c = 10,20,30

In [33]:
print(a)
print(b)
print(c)

10
20
30

In [34]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [44]:
print(a, end = "-")
print(b, end = "-")
print(c)

10-20-30

In [36]:
for i in range(7):
    print(i, end = " ")

0 1 2 3 4 5 6

In [37]:
var = "My name is Alice I am 30 years old and I work as an engineer.,
      sentence My name is {name} I am {age} years old and I work as an {occupation}."

SyntaxError: unterminated string literal (detected at line 1) (3080969697.py, line 1)

In [38]:
var = """My name is Alice I am 30 years old and I work as an engineer.,
      sentence My name is {name} I am {age} years old and I work as an {occupation}."""

In [40]:
print(var)

My name is Alice I am 30 years old and I work as an engineer.,
      sentence My name is {name} I am {age} years old and I work as an {occupation}.

In [42]:
def squre(num):
    """this square function
    used to square number"""
    return num**2

In [ ]:
squre()

In [ ]:
string
list
tuple
set
dict

In [45]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [46]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
len()

TypeError: len() takes exactly one argument (0 given)

In [50]:
A

NameError: name 'A' is not defined

In [51]:
1/0

ZeroDivisionError: division by zero

In [53]:
open("text.txt", "r")

FileNotFoundError: [Errno 2] No such file or directory: 'text.txt'